@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* Navbar */

.nav-title{
  color: #53A7DB; 
  font-size: 180%; 
  font-weight: bolder;
}
.navbar{
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9rem;

  letter-spacing: .1rem;
  background: rgba(255, 255, 255, 0.8)!important; 
}
.navbar-nav li{
  padding-right: .7rem; 
}
.navbar-light .navbar-nav .nav-link {
  color:#666666; 
  height: 55px;
  vertical-align: middle;
}
.nav-link{
  padding-top: 1rem;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover{
  color:#53A7DB;
}
.btn-lg{
  border-width: medium;
  padding: .6rem 1.3rem;
  font-size: 1.6vw; 
  background-color: #fbfbfb85;
}
.btn-outline-light, .btn-outline-light:hover  {
  color:#70C3F6;
  border-color:#70C3F6;
}
.btn-outline-light:hover{
  text-shadow: none;
}

/* General */
body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}
.offset::before{
  display: block;
  content: "";
  height: 4rem;
  margin-top:-4rem; 
}

.home-inner{
  background-image: url(img/three_gen_smiles.jpg); 
  filter: brightness(102%);
  zoom: 60%;
}
.caption{
  width:100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  
  z-index:1;
  text-transform: uppercase;
}
.caption h1{
  font-size: 4.6vw;
  font-weight: bold;
  letter-spacing: .1rem;

  color:#53A7DB; /* the darker shade */
  text-shadow: .1rem .1rem .1rem #2e2c2cbe;
  padding-bottom: 0rem;
}
.caption h3{
  font-size: 2.6vw;
  color:#70C3F6;
  text-shadow: .1rem .1rem .1rem #2e2c2cbe;
  padding-bottom: 1.6rem;
}

.narrow{
    width:75%;
    margin: 1.5rem auto;
    padding-top: 2.5rem;
}
.jumbotron{
  margin-bottom: 0;
  padding: 0 0 3.5rem;
  border-radius: 0;
}
h3.heading{
  font-size: 1.9rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}
.heading-underline{
  width:3rem;
  height: .2rem;
  background-color: #70C3F6;
  margin: 0 auto .8rem;
}

/* Services */
.lead.text-center a{
  color:#505962;
  text-decoration-line: underline;
}
.lead.text-center a:hover{
  color: #53a7db;
  text-decoration-line: none;
}

.service svg.svg-inline--fa{
  color: #53A7DB;
}
.service h3{
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.service p{
  font-size: 1.1rem;
}
.narrow.text-center{
  margin-top: 0;
}

.fixed{
  background-image: url(img/house-call.png);
  z-index: -1;
}
.dark{
  background-color: rgba(0, 0, 0, 0.17);
  color: whitesmoke;
  text-shadow: .1rem .1rem .3rem #2e2c2cbe;
  padding: 7rem 2rem;
}
.fixed-background p{
  margin-left: 8rem;
  margin-right: 8rem;
}
@media (max-width: 767px) {
  .fixed-background p{
  margin: 0;
  }
}

/* h5.dentursit{
  margin-top: 1rem;
  color: #505962; 
  font-weight: bolder;
} */
/* .narrow.text-center .about-the-dentursit{
  text-align: left;
} */

.about-image{
  margin: 1rem;
}
.about-image img {
  width:300px;
  border-radius: 50%;
}
.about-hr{
  border-top: .05rem solid #53A7DB;
}

/* Google Embeded */

.review-heading{
  padding-bottom: 0!important;
}
.review-banner{
  background-color: #f8f9fa;
  font-weight: 500; 
  margin: 1rem -50vw;
  padding: .5rem 0;
}
.review-banner h6{
  display: inline-block; 
  margin-right: .5rem;
}
.review-button{
  background-color:#70C3F6;
  color: white;
  opacity: 0.75;
  
  border: 0;
  border-radius: .3rem;
  border-width: thick;

  height: 1rem;
  padding: 5.5px;
  display: initial;
}
.review-button:hover{
  opacity: 1;
  color: white;
}

.carousel-reviews{
  background-color: #ffffffcc;
  border-radius: .3rem;
  padding: 1rem;
}
.carousel-reviews p{
text-align: left;
}
.carousel-item .col-md-4{
  display: inline-flex;
  float: left;
}

.carousel-indicators {
  bottom: -50px;
}
.carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}
.carousel-indicators .active {
background: #707070;
}
/* @media (max-width: 767px) { 
} */

.map {
position: relative;
height: 437px;
width: 100%;

mask-border:0;
border-width: 0;
}
.iframe{
height:437;
border:0; 
scroll-margin:none
}
.gmap_canvas {
overflow: hidden;
background: none !important;
height: 437px;
width: 100%;
}

/* Custom Icons */

img.custom-icon{
  width: 70px;
  padding:0px; 

  position: relative; 
  top: -10px;
}

div.toronto{
  top: -20px;
}
.custom-icon.toronto{
  width: 90px;
}
div.full-and-partial{
  position: relative; 
  top: 6px;
}

.yp{
  height: 28px!important;
}

/* Footer */

footer{
background-color: #40474e;
color: white;
padding: 2rem 0;
}
footer a {
  color: white;
}
footer svg.svg-inline--fa{
  padding-top: 10px;
  font-size: 2.25rem;
}
footer a:hover{
color: #53a7db;
text-decoration-line: none;
}
h3.heading.hfoot{
  margin-bottom: 0;
}
.hours{
  text-align: justify;
  margin: 0 auto 10px;
  width: 20rem;

  -webkit-border-horizontal-spacing: 1rem; 
  border-collapse: separate;
}
hr.socket{
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top: 3rem; 
}

/* Form Pop-up */

.questions-button {
  background-color:#70C3F6;
  color: white;
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 1.2vw; 

  border: 0;
  border-radius: .3rem;
  border-width: thick;
  
  padding: .6rem .9rem;
  cursor: pointer;
  position: fixed;
  
  bottom: 20px;
  right: 20px;
}
.questions-button:hover{
  opacity: 1;
}

.questions-form {
  display: none;
  position: fixed;

  z-index: 9;
  box-shadow: .1rem .1rem .9rem rgba(158, 158, 158, 0.8); 
  
  border-radius: .3rem;
  bottom: 20px;
  right: 20px;
}
.form-container {
  background-color: white;
  max-width: 400px;
  padding: 11px 15px;

  border-radius: .3rem;
  overflow: hidden;
}

.form-container input, .form-container textarea{
  width: 100%;
  padding: 15px;

  margin: 5px 0 5px 0;
  border: 1px solid #e8e8e8;
  border-radius: .1rem; 
  background: #f1f1f1;
}
.form-container textarea{
  height: 10rem!important;
  resize: none;
  overflow-y: scroll;
}
.form-container .btn {
  color: white;
  text-transform: uppercase;
  font-size: 1vw; 

  padding: .5rem .8rem;
  border: none;
  border-radius: .3rem;
  border-width: thick;

  cursor: pointer;
  margin-left: 4px;

  opacity: 0.75;
  float: right;
}
.form-container .btn.send {
  background-color: #46ca4a;
}
.form-container .btn.cancel {
  background-color: #f85555;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 2;
}

button:focus, .form-container input[type=text]:focus,
  .form-container textarea:focus{
  outline: none;
  background-color: white;
  transition: background-color .1s ease-in-out;
}
.form-container h4{
margin-bottom: 0;
}