@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.navbar{
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important; 
}
.navbar-nav li {
  padding-right: .7rem; 
}
.navbar-dark .navbar-nav .nav-link {
  color:white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color:rgb(155, 210, 245);
}

.btn-outline-light,.btn-outline-light:hover  {
 color:#0c3258;
 border-color:#0c3258;
}


.home-inner{
  background-image: url(img/three_gen_smiles.jpg); 
  zoom: 60%;
}
.caption{
  width:100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  
  z-index:1;
  color:#0c3258;
  text-transform: uppercase;
}
.caption h1{
  font-size: 3.8rem;
  font-weight: bold;
  letter-spacing: .1rem;
  text-shadow: .1rem .1rem .1rem #808080be;
  padding-bottom: 1rem;
}
.caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem #808080be;
  padding-bottom: 1.6rem;
}
