@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* Navbar */
.nav-title{
  color: #53A7DB; 
  font-size: 140%; 
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  line-height: 1.5rem;
}
.navbar{
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9rem;

  letter-spacing: .1rem;
  background: rgba(255, 255, 255, 0.87)!important; 
}
.navbar-nav li{
  padding-right: .7rem; 
}
.navbar-light .navbar-nav .nav-link {
  color:#666666; 
  height: 55px;
  vertical-align: middle;
}
.nav-link{
  padding-top: 1rem;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover{
  color:#53A7DB;
}

/* General */
body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}
.offset::before{
  content: "";
  height: 1.5rem;
  margin-top:-4rem; 
}
.home{
  background-color: rgba(0, 0, 0, 0.10);
}
.home-inner{
  background-image: url(img/three_gen_smiles.jpg); 
  -webkit-filter: brightness(103%) saturate(130%) sepia(20%) contrast(80%);
  filter: brightness(103%) saturate(130%) sepia(20%) contrast(80%) ;
}
.caption{
  display: table-cell;
  vertical-align: middle;
  text-align: left!important;
}
.wrapper{  
  color: #53a7db;
  font-family: "Sofia-pro", sans-serif;

  width:100%;
  max-width: 100%;
  position: absolute;
  top: 38%;

  padding: 0 24px;
  z-index:1;
  text-transform: uppercase;
}

.caption h2{
  font-size: 48px;
  font-weight: bold;
  text-shadow: .05rem .05rem #1a577e;

  margin: 50px 0 8px;
  line-height: 52px;
}
.caption h4{
  text-shadow: .02rem .02rem #1a577e;
  font-weight: 400;
}
.btn-lg{
  background-color: #70C3F6;
  color: #e7e4e4;

  border-radius: 25px;
  padding: 12px 35px 13px 35px;
  line-height: 1.3;
  font-size: 14px; 

  margin-top: 15px;
  display: inline-block;
}
.btn-lg:hover  {
  color: #e7e4e4;
  background-color:#40474e;
}

a, button, .btn, svg{
  transition: all 0.2s ease-in;
}

/* .anchor a {
  position: absolute;
  bottom: .5px;
  left: 50%;
  z-index: 2;
  display: inline-block;

  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: whitesmoke;
  font-weight: 400;
  font-size: 13px;

  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.anchor a:hover {
  opacity: .5;
}
#down-anchor a {
  padding-top: 40px;
}
#down-anchor a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;

  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
} */

.narrow{
    width:75%;
    margin: 1.5rem auto;
    padding-top: 2.5rem;
}
.jumbotron{
  margin-bottom: 0;
  padding: 0 0 3.5rem;
  border-radius: 0;
}
h3.heading{
  font-size: 1.9rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}
.heading-underline{
  width:3rem;
  height: .2rem;
  background-color: #70C3F6;
  margin: 0 auto .8rem;
}

/* Services */
.lead.text-center a{
  color:#505962;
  text-decoration-line: underline;
}
.lead.text-center a:hover{
  color: #53a7db;
  text-decoration-line: none;
}

.service{
  overflow-x: visible;
}
.service svg.svg-inline--fa {
  color: #53A7DB;
}
.service h3{
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.service p{
  font-size: 1.1rem;
}
.narrow.text-center{
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.fixed{
  background-image: url(img/house-call.png);
  z-index: -1;
}
.dark{
  background-color: rgba(0, 0, 0, 0.17);
  color: whitesmoke;
  text-shadow: .1rem .1rem .3rem #2e2c2cbe;
  padding: 7rem 2rem;
}
.fixed-background p{
  margin-left: 8rem;
  margin-right: 8rem;
}

/* h5.dentursit{
  margin-top: 1rem;
  color: #505962; 
  font-weight: bolder;
} */
.lead.col.about-the-denturist{
  text-align: left;
  text-align: justify;
  font: size 13;
  padding-right: 5rem;
}
.about-image{
  margin: 1rem;
}
.about-image img {
  width: 230px;
  border: solid 0.1rem rgba(144, 144, 144, 0.507);
  border-radius: 50%;
}
.about-hr{
  border-top: .05rem solid #53A7DB;
}

/* Google Embeded */

.review-heading{
  padding-bottom: 0!important;
}
.review-banner{
  background-color: #f8f9fa;
  font-weight: 500; 
  margin: 1rem -12.5vw;
  padding: .5rem 0;
  /* overflow-x: visible!important; */
}
.review-banner h6{
  display: inline-block; 
  margin-right: .5rem;
}

.tooltip {
  opacity: 1;
  display: inline-block;
  z-index: 0;
}
.tooltiptext {
  width: 180px;
  background-color: #666768;
  color: #fff;
  
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 0;
  
  bottom: 125%;
  left: 50%;
  margin-left: -90px;

  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  
  top: 100%;
  left: 50%;

  margin-left: -5px;
  border-width: 5px;

  border-style: solid;
  border-color: #666768 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.fa-info-circle{
  color: #505962;
  vertical-align: middle;
  cursor: pointer;
  visibility: visible;
}
.fa-info-circle:hover{
  color: #53A7DB;
}
.review-button{
  background-color:#70C3F6;
  color: whitesmoke;
  font-size: 14px; 
  opacity: 0.75;
  
  border: 0;
  border-radius: 85px;

  height: 1rem;
  margin-right: .5rem;
  line-height: 1.3;
  display: initial;
}
.review-button:hover{
  opacity: 1;
  color: white;
}

.carousel-inner{
overflow-y: hidden;
}
.carousel-reviews{
  background-color: #ffffffcc;
  border-radius: .3rem;
  padding: 1rem;
}
.carousel-item .col-md-4{
  display: inline-flex;
  float: left;
  padding: .8rem!important;
  width: 32.5%;
}
.carousel-item.row{
  margin: 0 1rem!important;
}

.carousel-indicators {
  bottom: -50px;
}
.carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}
.carousel-indicators .active {
background: #707070;
}

.map {
position: relative;
height: 437px;
width: 100%;

mask-border:0;
border-width: 0;
}
.iframe{
height:437;
border:0; 
scroll-margin:none
}
.gmap_canvas {
overflow: hidden;
background: none !important;
height: 437px;
width: 100%;
}

/* Custom Icons */

img.custom-icon{
  width: 70px;
  padding:0px; 

  position: relative; 
  top: -10px;
}

div.toronto{
  top: -20px;
}
.custom-icon.toronto{
  width: 90px;
}
div.full-and-partial{
  position: relative; 
  top: 6px;
}

.yp{
  height: 28px!important;
}

/* Footer */

footer{
background-color: #40474e;
color: white;
padding: 2rem 0;
}
footer a {
  color: white;
}
footer svg.svg-inline--fa{
  padding-top: 10px;
  font-size: 2.25rem;
}
footer a:hover{
color: #53a7db;
text-decoration-line: none;
}
h3.heading.hfoot{
  margin-bottom: 0;
}
.hours{
  text-align: justify;
  margin: 0 auto 10px;
  width: 20rem;

  -webkit-border-horizontal-spacing: 1rem; 
  border-collapse: separate;
}
hr.socket{
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top: 3rem; 
}

/* Form Pop-up */

.questions-button {
  background-color:#70C3F6;
  color: whitesmoke;
  opacity: 0.75;
  text-transform: uppercase;
  font-size: 14px; 

  border: 0;
  border-radius: 85px;
  border-width: thick;
  
  padding: 12px ;
  cursor: pointer;
  position: fixed;
  
  bottom: 20px;
  right: 20px;
  line-height: 1.3;
}
.questions-button:hover{
  opacity: 1;
}

.questions-form {
  display: none;
  position: fixed;

  z-index: 9;
  box-shadow: .1rem .1rem .9rem rgba(158, 158, 158, 0.8); 
  
  border-radius: .3rem;
  bottom: 20px;
  right: 20px;
}
.form-container {
  background-color: white;
  max-width: 400px;
  padding: 11px 15px;

  border-radius: .3rem;
  overflow: hidden;
}

.form-container input, .form-container textarea{
  width: 100%;
  padding: 15px;

  margin: 5px 0 5px 0;
  border: 1px solid #e8e8e8;
  border-radius: .1rem; 
  background: #f1f1f1;
}
.form-container textarea{
  height: 10rem!important;
  resize: none;
  overflow-y: scroll;
}
.form-container .btn {
  color: white;
  text-transform: uppercase;
  font-size: 1vw; 

  padding: .5rem .8rem;
  border: none;
  border-radius: 25px;
  border-width: thick;

  cursor: pointer;
  margin-left: 4px;

  opacity: 0.75;
  float: right;
}
.form-container .btn.send {
  background-color: #46ca4a;
}
.form-container .btn.cancel {
  background-color: #f85555;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 2;
}

button:focus, .form-container input[type=text]:focus,
  .form-container textarea:focus{
  outline: none;
  background-color: white;
  transition: background-color .2s ease-in-out;
}
.form-container h4{
margin-bottom: 0;
}

/* Mobile Resizing */
@media screen and (max-width: 767px) {
  .nav-title{
  font-size: 100%; 
  width: 80%;
  }
  .caption h1{
    font-size: 6vw;
    padding: 0 0;
  }
  .caption h3{
    font-size: 3.5vw;
  }
  .btn-lg{
    font-size: 1rem;
  }

  .col-12.narrow{
    width: 100%;
  }

  .fixed-background p{
  margin: 0;
  }

  .about-the-denturist{
  display: table;
  padding: 0!important;
  }
  #about .row{
    display: block;
  }
  .carousel-item .col-md-4{
  display: block;
  float: none;
  width: 95%;
  }

  .questions-button{
    display: none;
  }
}

@media (max-width: 375px) {
  .caption h2 {
    font-size: 40px;
    line-height: 1.1;
  }

  .btn-lg{
    font-size: 14px;
    margin-top: 10px;
  }
}