@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}
.offset::before{
  display: block;
  content: "";
  height: 4rem;
  margin-top:-4rem; 
}

.navbar{
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important; 
}
.navbar-nav li {
  padding-right: .7rem; 
}
.navbar-dark .navbar-nav .nav-link {
  color:white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color:rgb(113, 195, 246);
}

.home-inner{
  background-image: url(img/three_gen_smiles.jpg); 
  zoom: 60%;
}
.caption{
  width:100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  
  z-index:1;
  color:rgb(113, 195, 246);
  text-transform: uppercase;
}
.caption h1{
  font-size: 7vw;
  font-weight: bold;
  letter-spacing: .1rem;
  text-shadow: .1rem .1rem .1rem #2e2c2cbe;
  padding-bottom: 1rem;
}
.caption h3{
  font-size: 4vw;
  text-shadow: .1rem .1rem .5rem #2e2c2cbe;
  padding-bottom: 1.6rem;
}
.btn-lg{
  border-width: medium;
  padding: .6rem 1.3rem;
  font-size: 2vw; 
}
.btn-outline-light, .btn-outline-light:hover  {
  color:rgb(113, 195, 246);
  border-color:rgb(113, 195, 246);
}

.narrow{
   width:75%;
   margin: 1.5rem auto;
   padding-top: 2.5rem;
}
.jumbotron{
    margin-bottom: 0;
    padding: 0 0 3.5rem;
}